.search-bar {
  padding-top: 50px;
  justify-content: center;
  
}


.members-searchbar input {
  padding: 1.2rem;
  box-shadow: 1px 1px 3px 2px rgba(107,102,97,0.3);
  border-radius: 0.2rem;
 
}
.prompt::placeholder {
  font-size: 1rem;
  font-family: 'Roboto';
  
}
