#Sign_in_form_container {
  display: flex;
width: 100vw;
justify-content: center;
align-items: center;
flex-direction: column;
& h1 {
  font-weight: bold;
  color: #6B6661;

font-size: 2rem;

margin: 1rem 0 2rem 0;
}
}


#Sign_in_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30rem;
  color: #F9F7ED;
  font-family: 'Roboto';
  font-weight: bold;
  align-items: center;
  height: 75%;
  border-radius: 1em;
  background: #A5C6BA;
  box-shadow: 3px 3px 8px 2px rgba(107,102,97,0.7);
  padding: 1rem;
  
  & input {
    border-radius: 0.2rem;
    color: #6B6661;
  background: rgb(249, 247, 237,0.5);
  border: none;
  height: 1.8rem;
  font-size: 1rem;
  width: 50%;
  margin: 1rem 0 1rem 0;
      
}
 
}

 

#Sign_in_form_submit_button {
  border-radius: .2rem;
  color: #6b6661;
  font-weight: bold;
  font-size: 1rem;
  width: 30%;
  height: 2rem;
  cursor: pointer;
  box-shadow: 0px 1px 5px 0px #6B6661;
  border: none;
}

#Sign_in_form_submit_button:hover {
  background: rgba(98, 63, 138, 0.5);
  color: #F9F7ED;
  transition: 0.5s;
}


#Sign_in_form_message {
    margin: 0.5rem;
  }

  #Sign_in_form_message:hover {
    color: rgba(98, 63, 138, 0.5);
    transition: 0.5s;
  }
